button {
  padding: 5px 10px;

  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #fff;

  color: #333;
  font-size: 12px;
  cursor: pointer;

  transition: all 0.3s;
  &:active {
    color: #fff;
    background-color: #009afe;
  }
}
